<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>SUTD Orientation 2017: The Grid</title>
  <meta name="description" content="The Grid">
    <meta name="author" content="Singapore University of Technology &amp; Design">

  <link rel="stylesheet" href="/css/main.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

</head>

<body class='{{ page.title }}'>
  <header class='container column'>
    <div class='apply'>
      {% if page.title == 'countdown' %}
        <a href="http://sutd.edu.sg/apply">
          <i class="fa fa-download fa-lg"></i>
          Apply to SUTD
        </a>
      {% else %}
        <a href="https://www.facebook.com/groups/522995557746987/">
          <i class="fa fa-download fa-fb"></i>
          SUTD Family
        </a>
      {% endif %}
    </div>

      <div class='main-menu'>
        <div class='logo'>
          <a href='index.html'><img src='/assets/images/main-logo.png' /></a>
        </div>
        <nav class='main-menu'>
          <ul>
            {% if page.title == 'countdown' %}
              <li><a href="http://www.sutd.edu.sg/Campus-Life">Community</a></li>
              <li><a href="http://www.sutd.edu.sg/Education/Unique-Academic-Structure">About</a></li>
              <li><a href="http://www.sutd.edu.sg/About-Us/Contact-Us">Support</a></li>
            {% else %}
              <li><a href="/day1.html">Day 1</a></li>
              <li><a href="/day2.html">Day 2</a></li>
              <li><a href="/day3.html">Day 3</a></li>
              <li><a href="/sponsors.html">Sponsors</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
  </header>
