<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>SUTD Orientation 2017: The Grid</title>
  <meta name="description" content="The Grid">
    <meta name="author" content="Singapore University of Technology &amp; Design">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

</head>

<body class='{{ page.title }} {{ page.layout }}'>
  <header class='row container space-between'>
      <div class='main-menu'>
        <div class='logo'>
          <a href='/index.html'><img src='/assets/media/main-logo.png' /></a>
        </div>
        <nav class='main-menu'>
          <ul>
            {% if page.title == 'countdown' %}
              <li><a href="http://www.sutd.edu.sg/Campus-Life">Community</a></li>
              <li><a href="http://www.sutd.edu.sg/Education/Unique-Academic-Structure">About</a></li>
              <li><a href="http://www.sutd.edu.sg/About-Us/Contact-Us">Support</a></li>
            {% else %}
              <li><a href="/sponsors.html">Sponsors</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>

      <div class='social-media'>
          <a href="https://www.facebook.com/sutdorientation">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="http://www.pictaram.com/user/sutd_orientation_2017_/4544470290">
            <i class="fa fa-instagram"></i>
          </a>
      </div>
  </header>
