{% include header.html %}
<section class='video column {{ page.theme }}'>
  <video poster="/assets/media/day-{{ page.day-number }}/vid-poster.png" autoplay='true' loop muted>
    <source src="/assets/media/day-{{ page.day-number }}/vid.mp4" />
    <source src="" />
  </video>
  <div class='overlay column'>
    <h1>The Grid {{ page.title }}</h1>
    <a class='all-pics-btn'>View All Media</a>
  </div>
</section>

<section class='pics column'>
  {% for row in page.pics %}
  <div class='row mobile-column'>
    <div class='large {{ row.large.theme }}'>
      <div class='pic' style="background-image: url('/assets/media/day-{{ page.day-number }}/{{ row.large.filename }}')"></div>
      <div class='overlay'></div>
      <div class='tagline'><a>{{ row.large.tagline }}</a></div>
    </div>
    <div class='column'>
      {% for image in row.small %}
      <div class='small ferrum'>
        <div class='pic' style="background-image: url('/assets/media/day-{{ page.day-number }}/{{ image.filename }}')"></div>
        <div class='overlay'></div>
        <div class='tagline'><a>{{ image.tagline }}</a></div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endfor %}
</section>
{% include footer.html %}
