{% include header.html %}
<section class='video column {{ page.theme }}'>
  <video poster="/assets/media/day-1/vid-poster.png" autoplay='true' loop muted>
    <source src="/assets/media/day-1/vid.mp4" />
    <source src="" />
  </video>
  <div class='overlay column'>
    <h1>The Grid {{ page.title }}</h1>
    <a class='all-pics-btn'>View All Media</a>
  </div>
</section>

<section class='pics column'>
    <div class='row mobile-column'>
      <div class='large aqua'>
        <div class='pic' style="background-image: url('/assets/media/day-1/design.jpg')"></div>
        <div class='overlay'></div>
        <div class='tagline'><a>Haha lol funny</a></div>
      </div>
      <div class='column'>
        <div class='small ferrum'>
          <div class='pic' style="background-image: url('/assets/media/day-1/housing.jpg')"></div>
          <div class='overlay'></div>
          <div class='tagline'><a>Haha lol funny</a></div>
        </div>
        <div class='small ignis'>
          <div class='pic' style="background-image: url('/assets/media/day-1/lsl.jpg')"></div>
          <div class='overlay'></div>
          <div class='tagline'><a>Haha lol funny</a></div>
        </div>
      </div>
    </div>

    <div class='row mobile-column'>
      <div class='column'>
        <div class='small ventus'>
          <div class='pic' style="background-image: url('/assets/media/day-1/housing.jpg')"></div>
          <div class='overlay'></div>
          <div class='tagline'><a>Haha lol funny</a></div>
        </div>
        <div class='small terra'>
          <div class='pic' style="background-image: url('/assets/media/day-1/design.jpg')"></div>
          <div class='overlay'></div>
          <div class='tagline'><a>Haha lol funny</a></div>
        </div>
      </div>
      <div class='large aqua'>
        <div class='pic' style="background-image: url('/assets/media/day-1/lsl.jpg')"></div>
        <div class='overlay'></div>
        <div class='tagline'><a>Haha lol funny</a></div>
      </div>
    </div>
</section>
{% include footer.html %}
