{% include header.html %}
{{ page.content }}

<section class='hero container'>
  <h1>Welcome to the Grid</h1>
  <div class='row'>
    {% for clan in site.clans %}
    <img src='/assets/images/{{ clan.title | downcase }}.svg' />
    {% endfor %}
  </div>
  <p>The Grid is a virtual world. Every year, a prestigious survival competition, The Tachyon Games, would be held, attracting players from all over to enter the Grid. Under the guidance of past Tachyon Games’ winners, Champions, players would fight for the glory of their clans. Simulating alternate realities, filled with hostile environments and treacherous situations, the Grid would test and push participants past their limits.</p>
</section>

<section class='clan-info'>
  {% for clan in site.clans %}

  <article class='{{ clan.title | downcase }} clan row'>
    <div class='description'>
      <h3>{{ clan.tagline }}</h3>
      <p>{{ clan.content }}</p>
    </div>

    <div class='overview'>
      <img src="/assets/images/{{ clan.title | downcase }}.svg" />
      <h2>{{ clan.title }}</h2>

      <div class='attributes'>
        {% for attribute in clan.attributes %}
        <div class='attribute'>
          <h4>{{ attribute[0] }}</h4>
          <div style='width: {{ attribute[1] }}0%'></div>
        </div>
        {% endfor %}
      </div>

    </div>

  </article>

  {% endfor %}
</section>

{% include footer.html %}
