{% include header.html %}
<div class='container'>
  <section class='thank-you-message'>
    <h1>Our Wonderful Sponsors</h1>
    <h2>Who made this orientation possible</h2>
  </section>
  <section class='logos column'>
    <div class='row'>
    {% for sponsor in page.sponsor_names %}
    <img src='/assets/images/sponsors/{{ sponsor }}.png' />
      {% assign idx_mod = forloop.index | modulo: 3 %}
      {% if idx_mod == 0 %}
    </div>
    <div class='row'>
      {% endif %}
    {% endfor %}
    </div>
  </section>
</div>
