$FOOTER_PADDING: 10px

footer
  background-color: scale-color($GRAY, $lightness: -50%)
  color: scale-color($GRAY, $lightness: 20%)
  font-size: 14px
  margin: 0
  padding-top: $FOOTER_PADDING
  padding-bottom: $FOOTER_PADDING
  text-align: center
